<ul>
    <li><a href="/admin/trucks">Trucks info</a> </li>
    <li><a href="/admin/drivers">Drivers info</a></li>
    <li><a href="/admin/spreadsheet">Spreadsheet</a></li>
    <li><a href="/admin/repairs">Repair</a></li>
</ul>