<ul>
    <li><a href="/driver/truck">Trucks info</a> </li>
    <li><a href="/driver/spreadsheet">Spreadsheet</a></li>
    <li><a href="/driver/repairs">Repairs</a></li>
    <li><a href="/driver">Profile</a></li>
</ul>