<ul>
    <li><a href="/driver">Home</a> </li>
    <li><a href="/driver/truck">Truck info</a> </li>
    <li><a href="/driver/spreadsheet">Spreadsheet</a></li>
    <li><a href="/driver/repairs">To repair</a></li>
</ul>