<%- include('partials/headerAdmin', {user: user}) -%>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Admin Page</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
    </div>
</main>



<%- include('partials/footer') -%>