<%- include('partials/headerAdmin', {user: user}) -%>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Create new truck</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin/trucks">Trucks</a></li>
            <li class="breadcrumb-item active">Create</li>
          </ol>
        </nav>
    </div>
    
    
<!-- Form to create new truck -->
    <form action="/admin/trucks/createTruck" method="POST">
        <div>
            <label for="type">Mark: </label>
            <input type="text" id="type" name="type">
        </div>
        <div>
            <label for="model">Model: </label>
            <input type="text" id="model" name="model">
        </div>
        <div>
            <label for="plate">Plate: </label>
            <input type="text" id="plate" name="plate">
        </div>
        <div>
            <label for="chassis">Chassis no:</label>
            <input type="text" id="chassis" name="chassis">
        </div>
        <div>
            <label for="km">KM (numbers only):</label>
            <input type="text" id="km" name="km">
        </div>
        <div>
            <label for="expireVignette">Vignette expires on: </label>
            <input type="date" id="expireVignette" name="expireVignette">
        </div>
        <div>
            <label for="expireInsurance">Isurance expires on: </label>
            <input type="date" id="expireInsurance" name="expireInsurance">
        </div>
        <div>
            <label for="expireCmr">CMR expires on</label>
            <input type="date" id="expireCmr" name="expireCmr">
        </div>

        <button type="submit">Add new truck</button>
    </form>
    <div id="error-message" class="hidden"></div>
    <p>To assign driver create truck then go <a href="/admin/drivers">to drivers info</a></p>
</main>

<a href="/logout">Logout</a>

<%- include('partials/footer') -%>