<%- include('partials/headerDriver', {user: user}) -%>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Driver Page</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/driver">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
</main>

<a href="/logout">Logout</a>

<%- include('partials/footer') -%>