<%- include('partials/headerDriver', {user: user}) -%>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Driver Page</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/driver">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
        <iframe src="https://trafficban.com/plugins/box.html?href=trafficban.com&language=en" scrolling="auto" frameborder="1" style="width:600px;height:500px"></iframe>
</main>

<%- include('partials/footer') -%>