<%- include('partials/header') -%>
<%- include('partials/adminNav') -%>

<main class="container">
    <h1>To repair:</h1>

    <h2>Trucks:</h2>

    <h3>Lists:</h3>
</main>

<a href="/logout">Logout</a>

<%- include('partials/footer') -%>