<%- include('partials/headerLogin') -%>
<main>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                  <div class="d-flex justify-content-center py-4">
                    <a href="index.html" class="logo d-flex align-items-center w-auto">
                      <img src="imgs/favicon-32x32.png" alt="">
                      <span class="d-none d-lg-block">FleetMate</span>
                    </a>
                  </div><!-- End Logo -->
    
                  <div class="card mb-3">
    
                    <div class="card-body">
    
                      <div class="pt-4 pb-2">
                        <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                        <p class="text-center small">Enter your personal details to create account</p>
                      </div>
    
                      <form action="/signup" method="POST" class="row g-3">
                        <div class="col-12">
                            <label for="userName" class="form-label">User Name</label>
                            <input type="text" class="form-control" id="userName" name="userName">
                          </div>
                        <div class="col-12">
                          <label for="inputEmail" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" name="email">
                        </div>
                        <div class="col-12">
                          <label for="password" class="form-label">Password <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-placement="top" title="At least 6 characters long"></i></label>
                          <input type="password" class="form-control" id="password" name="password">
                          
                        </div>
                        <div class="col-12">
                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                          </div>
                        <button type="submit" class="btn btn-primary w-100 rounded-pill">Create</button>
                        <div class="col-12">
                          <p class=" mb-4">Already have an account? <a href="/login" class="fw-bold">Log in</a></p>
                        </div>
                      </form>
                      <p>SIGNUP FOR ADMINISTRATOR ONLY</p>
                      <p>For <strong>driver</strong>  registration, please contact your administrator to create an account.</p>
    
    
                    </div>
                  </div>
    
                </div>
                
        </div>


      </div>
      </div>
    </main>

<%- include('partials/footer') -%>