<%- include('partials/header') -%>
<%- include('partials/DriverNav') -%>

<main class="container">
    <h1>What needs to be repaired on this truck</h1>
</main>

<a href="/logout">Logout</a>

<%- include('partials/footer') -%>