<%- include('partials/header') -%>
<%- include('partials/DriverNav') -%>

<main class="container">
    <h1>Truck details (driver page)</h1>
</main>

<a href="/logout">Logout</a>

<%- include('partials/footer') -%>